header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all .4s ease;

  @include max-md {
    left: 50%;
    transform: translateX(-50%);
  }

  @include md {
    padding-left: 3rem;
  }

  .logo img {
    width: 145px;
    transform-origin: 0 0;
    transform: scale(1);
    transition: transform .4s ease;

    @include max-md {
      transform-origin: 50% 0;
    }
  }

  &.slim {
    @include max-md {
      left: 0;
      transform: translateX(0);
    }
  }

  &.slim .logo img {
    transform: scale(.75);
  }
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: all .4s ease;
  transition-delay: 0s;
  transform: translateY(100%);
  pointer-events: none;
  background-color: transparent;

  &.reveal {
    transform: translateY(0);
    transition-delay: .45s;
  }
}


// sections
.masthead {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(1fr, 220px) 1fr minmax(1fr, 220px);
  }

  &__content {
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__partner {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
  }

  &__video {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: stretch;
  }

}

.food {
  position: relative;

  &__title {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

#food-slide {
  .food-slide {

    &__4 .food-slide__content,
    &__3 .food-slide__content,
    &__2 .food-slide__content,
    &__1 .food-slide__content {

      height: 100%;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      align-content: center;

      h3 {
        grid-column: 4/8;
        grid-row: 1/2;

        position: relative;
        z-index: 10;
      }

      p {
        grid-column: 6/9;
        grid-row: 1/2;
      }

      img {
        grid-column: 2/6;
        grid-row: 1/2;

        position: relative;
        z-index: 0;
      }
    }
  }
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;

  &__columns {
    max-width: 780px;
    margin: 2rem auto;
    column-count: 1;
    column-gap: 20px;

    @include md {
      column-count: 2;
    }
  }
}

.voice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}