header {
  position: fixed;
  left: 50%;
  top: 1rem;
  z-index: 100;
  transition: all .4s ease;
  transform: translateX(-50%);

  @include md {
    left: 0;
    transform: translateX(0);
    padding-left: 3rem;
  }

  .logo img {
    width: 145px;
    transform-origin: 0 0;
    transform: scale(1);
    transition: transform .3s ease-out;
    padding: 4px;
  }

  &.slim {
    top: -200px;
  }
}

.footer {
  background-color: $color__red;

  @include xl {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: all .4s ease;
    transition-delay: 0s;
    transform: translateY(100%);
    pointer-events: none;
    background-color: transparent;

    display: grid;
    grid-template-columns: 1fr 1fr;

    min-height: 180px;
  }

  &.reveal {
    transform: translateY(0);
    transition-delay: .45s;
  }

  &__1,
  &__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include md {
      justify-content: flex-start;
    }

    p {
      width: 100%;

      @include md {
        width: initial;
      }
    }
  }

  &__1 {
    margin-bottom: 2rem;

    @include xl {
      margin-bottom: 0;
    }
  }

  &__2 {
    @include xl {
      justify-content: flex-end;
    }
  }

  img {
    max-width: 160px;
  }

  img,
  p {
    margin: .4rem 1rem;
  }
}

// sections
section {
  padding: 2.2rem 0;

  @include xl {
    padding: 3rem 0;
    min-height: 100vh;
  }
}

.masthead {
  display: grid;
  grid-template-columns: 1fr;

  padding: 0;
  padding-top: 220px;

  @include md {
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding-top: 0;
  }

  @include xl {
    padding-top: 0;
  }

  &__content {
    margin: 2rem auto;
    padding-left: 15px;
    padding-right: 15px;

    @include md {
      margin: 0;
      align-self: start;
      padding-bottom: 3rem;
      padding-top: 200px;
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }

  &__video {
    grid-row: 1/2;

    @include md {
      grid-column: 2/3;
      align-self: stretch;

      height: 100%;
      margin: 0;
      z-index: 100;
    }

    .video-container {
      @include md {
        display: none;
      }
    }
  }

  &__cta {
    text-align: center;
  }

}

.food {
  position: relative;
}

.food-slide {
  user-select: none;

  &__content {
    max-width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include md {
      flex-wrap: no-wrap;
    }
  }

  &__desc {
    flex: 1 1 320px;
  }

  &__img {
    flex: 2 1 320px;
    order: -1;
    text-align: center;

    h4 {
      display: inline-block;
      margin: 0 auto;
    }
  }

  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
}


.story {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  h2 {
    margin-bottom: 1rem;

    @include md {
      margin-bottom: 3rem;
    }

    @include xl {
      margin-bottom: 5rem;
    }
  }

  &__columns {
    text-align: left;

    column-count: 1;
    column-gap: 4rem;

    @include md {
      column-count: 2;
    }

    @include xl {
      column-gap: 8rem;

    }
  }

  &__wrap {

    max-width: 85%;
    margin: 0 auto;

    @include xxl {
      max-width: 1600px;
    }
  }
}

.voice {
  display: grid;
  align-items: center;
  text-align: center;

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include xl {
    padding-bottom: 120px;
  }

}