section {
  padding: 1.45rem 0;

  text-align: center;

  @include md {
    text-align: left;

  }
}

.masthead {
  padding: 0;
  padding-top: 200px;

  @include md {
    padding-top: 0;
  }


  &__title {
    padding: 0;
  }

  &__content {

    padding-left: 15px;
    padding-right: 15px;

    @include md {
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }

  &__intro {

    @include md {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__partner {

    @include md {

      padding-left: 3rem;
      padding-bottom: 1rem;

      img {
        padding-right: 1rem;
        max-height: 64px;
      }
    }
  }
}

.story {
  &__wrap {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.voice {
  &__title {
    padding: 1rem;
  }

  &__cta {
    padding: 1rem;
  }
}

.footer {
  padding: 1rem;

  &__copyright {
    p {
      margin: 1rem;
    }
  }
}