@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../node_modules/tiny-slider/dist/tiny-slider';

@font-face {
  font-family: "Insanibc";
  src: url('../fonts/Insanibc.eot');
  src: url('../fonts/Insanibc.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Insanibc.woff2') format('woff2'),
    url('../fonts/Insanibc.woff') format('font-woff'),
    url('../fonts/Insanibc.ttf') format('truetype'),
    url('../fonts/Insanibc.svg#svgFontName') format('svg');
}

// @import url('https://fonts.googleapis.com/css?family=Asap:700|Fredoka+One&display=swap');
// font-family: 'Fredoka One', cursive;
// font-family: 'Asap', sans-serif;

@import './Preloader';

@import './_defaults';
@import './_mixin';

// variables
$color__netflix: #141414;
$color__main: #000000;
$color__blue: #010065;
$color__yellow: #ffcc00;
$color__red: #ff0000;
$color__darkred: #CC0001;

$font__head: 'Insanibc',
sans-serif;
$font__body: 'Arial',
sans-serif;

.body {
  @include md {
    overflow: hidden;
  }
}


.video-container {
  position: relative;
  padding-bottom: 56.8%;
  padding-top: 0;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.modal-content {
  background-color: transparent;
  border-radius: 0;
}

@import './_carousel_background';
@import './_layout';
@import './_typo';
@import './_decor';