h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__head;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 1;
}

p {
  font-family: $font__body;
  text-align: center;
  font-weight: bold;

  font-size: 1rem;

  @include md {
    font-size: 1rem;
  }

  @include xl {
    font-size: 1rem;
  }
}

h2 {
  @include md {
    font-size: 6rem;
  }
}

.masthead {
  h1 {
    font-size: 2.4rem;
    color: $color__blue;
    margin: 0;

    @include md {
      font-size: 2.6rem;
    }

    @include lg {
      font-size: 3.0rem;
    }
  }

  p {
    margin: 1rem auto;

    @include md {
      text-align: left;
    }
  }

  &__cta {
    @include md {
      text-align: left;
    }
  }
}

.food {
  color: #fff;

  h2 {
    text-align: center;

  }
}

.story {
  h2 {
    color: $color__red;
  }

  p {
    text-align: justify;
  }
}

.voice {
  color: #fff;

  h2 {
    @include md {
      font-size: 8rem;
      text-align: left;
    }
  }

  p {
    @include md {
      text-align: left;
    }
  }
}

.footer {
  color: #fff;
}