h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__head;
  letter-spacing: 1px;
  font-size: 3rem;
}

.masthead {
  h1 {
    color: $color__blue;
    font-weight: bold;
    font-size: 2.4rem;
    margin: 0;
  }

  p {
    font-family: $font__body;
    font-weight: bold;
  }
}

.food {
  color: #fff;

  h2 {
    font-size: 4.2rem;
  }
}

.voice {
  color: #fff;

  h2 {
    font-size: 8.2rem;
  }
}

.footer {
  color: #fff;
}