// variables
$color__netflix: #141414;
$color__main: #000000;
$color__blue: #010065;
$color__yellow: #ffcc00;
$color__red: #ff0000;
$color__darkred: #CC0001;

$font__head: 'Insanibc',
sans-serif;
$font__body: 'Arial',
sans-serif;